@import 'style/form_blocks';

.controller-profile_editor a.control-panel-custom-forms,
.controller-profile_editor .msie6 a.control-panel-custom-forms {
  background-image: url(/plugins/custom_forms/icons/custom-forms.png)
}

.action-table {
  width: 100%;
  overflow: hidden;
}

.action-table th,
.action-table td{
  text-align: center;
}

.action-table .actions{
  white-space: nowrap;
  text-align: left;
}

.action-table .new-item{
  background-color: #EEE;
}

.edit-information {
  display: none;
}
.modal .edit-information {
  display: block;
}

.field-box {
  margin: 10px 0;
}

.field-box > div {
  overflow: hide;
}

.field-box .button {
  margin-left: 15px;
}

.field-box .addition-buttons .button {
  margin: 0px;
}

.field-box .required-field label{
  font-weight: bold;
  color: #c00;
}
.field-box .required-field label:after {
  content: ' (*)';
}

.field-select-type {
  margin: 10px 0;
}

.field-text-default {
  margin-top: 10px;
}

.field-list, .default-field-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.field-list {
  cursor: move;
}

.field-list label, .field-list legend {
  cursor: move;
}

ul.field-list > li > fieldset:hover {
  border: 2px dotted #BBB;
}

tr.addition-buttons {
  cursor: auto;
}

#ui-datepicker-div {
  border: 1px solid #CCC;
}
.ui-slider-horizontal {
  border: 1px solid #BBB;
  border-radius: 4px;
}

#custom-forms-plugin_submission .notify {
  padding: 8px;
  color: rgba(0,0,0,0.5);
}

#custom-forms-plugin_submission .custom-form-options {
	text-align: right;
}

#custom-forms-plugin_submission textarea {
  width: 100%;
  height: 10em;
}

#custom-forms-plugin_submission-view th {
  border: none;
  text-align: right;
}
#custom-forms-plugin_submission-view td {
  padding: 5px 0;
}

#custom-forms-plugin_submission-view td img {
  vertical-align: middle;
}

#custom-forms-plugin_submission-view td ul {
  padding: 0;
  margin: 0;
}
#custom-forms-plugin_submission-view td li {
  list-style: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><rect x="3.5" y="3.5" width="10" height="10" fill="black" stroke="black" fill-opacity="0.2" opacity="0.4" ry="1"/><path d="M 4,5 8.5,13 16,0 8.5,8.5 z"/></svg>') no-repeat 0 50%;
  padding: 0 0 0 20px;
  margin: 0;
}

/* Poll */

.poll-question {
  width: 70%;
}

.poll-question input {
  width: 100%
}

.poll-select-type {
  width: 30%;
}

.poll-type {
  text-align: center;
  width: 10%;
}

.poll-option {
  width: 75%;
  padding-left: 0px;
}

.poll-remove {
  text-align: center;
  width: 15%;
}

.poll-type-icon {
  display: inline-block;
}

.poll-option-input {
  width: 100%;
}

.add-poll-option .remove-poll-option {
  display: none;
}

#poll-options .field-list tr {
  cursor: move;
}

#poll-options .field-list .add-poll-option {
  cursor: auto;
}

.review_text_align {
  text-align:center;
}

#queries-form {
  display: flex;
}

#queries-form input[type=text] {
  background: none !important;
  border: 1px solid #90949c;
  border-radius: 4px;
  outline: none !important;
  flex-grow: 1;
  padding: 6px;
  margin-right: 5px
}

#queries-form select {
padding: 6px 25px 6px 10px;
margin-right: 5px;
height: 100%;
border: 1px solid #e3e3e3;
border-radius: 3px;
background: url(/plugins/custom_forms/icons/selectbox-down-arrow.png) right center no-repeat;
background-color: #fff;
color: #444444;
font-size: 1.1em;
line-height: 16px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
}

#queries ul.results-list {
list-style: none;
padding-left: 0px;
}

#queries ul.results-list li {
border-top: 1px solid #ddd;
padding: 20px 15px;
}

#queries ul.results-list li:first-child {
border-top: none;
}

#queries ul.results-list li:nth-child(odd) {
background-color: #f9f9f9;
}

#queries ul.results-list li a.form-link {
color: #333;
cursor: pointer;
display: block;
font-size: 1.3em;
margin-bottom: 3px;
text-decoration: none;
}

#queries ul.results-list li a.form-link:hover {
color: #666;
}

#queries ul.results-list li a.form-results {
  text-decoration: none;
  color: #90949c;
}

#queries ul.results-list li a.form-results:hover {
  color: #555753;
}

#queries ul.results-list li .form-info {
color: #90949c;
font-size: 10px;
}

#queries ul.results-list li .form-info i {
font-size: 0.9em;
margin-right: 1px;
}

#queries ul.results-list li .form-info .bullet {
padding: 0px 2px;
}

#queries ul.results-list li p {
margin: 5px 0px;
}

#queries ul.results-list li .form-description {
margin-top: 6px;
}

#queries ul.results-list li .form-image-header {
width: 100%;
height: 100px;
margin-bottom: 10px;
background-size: cover;
}

#queries ul.results-list li .no-results {
font-size: 14px;
font-style: italic;
}

.query-overview {
  .query-header {
    color: #90949c;

    .bullet {
      padding: 0px 4px;
    }

    a {
      color: #fff;
      cursor: pointer;
      float: right;
      background-color: #428bca;
      border: 1px solid #357ebd;
      line-height: 1.4;
      text-align: center;
      text-decoration: none;
      padding: 4px 8px;
      border-radius: 4px;

      &:hover, &:visited {
        text-decoration: none;
      }

      &:hover {
        color: #fff;
        background-color: #3071a9;
        border: 1px solid #285e8e;
      }
    }
  }

  .overview {
    margin-top: 35px;
    h6 {
      font-size: 14px !important;
      font-weight: 400;
    }

    table.review_text_align {
      td {
        padding: 8px 4px;
        &:not(:first-child) {
          text-align: left;
        }
      }

      th {
        border-bottom: 1px solid #90949c;
        font-weight: 400;
      }

      th:first-child, td:first-child {
        width: 20%;
      }
    }

    div:nth-child(n + 2) {
      margin-top: 30px;
    }
  }
}

div.token-input-dropdown {
  z-index: 9999 !important;
}
